// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// mixins
@import "abstract/mixins/border";
@import "abstract/mixins/flex";
@import "abstract/mixins/grid";
@import "abstract/mixins/loop";
@import "abstract/mixins/width";
@import "abstract/mixins/margin";
@import "abstract/mixins/padding";

// loops
@import "abstract/loops/width";

// abstract
@import "abstract/colours";
@import "abstract/text";

// Components
@import "components/form";
@import "components/buttons";
@import "components/navigation";
@import "components/table";
@import "components/messages";
@import "components/sidebar";

// layout
@import "layout/wrapper";

// Pages
@import "pages/parent-view.scss";

body {
    background: $bg-colour;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
