.status {
    &--active {
        background: green;
        color: white;
    }

    &--pending {
        background: rgb(196, 196, 196);
    }

    &--archived {
        background: orange;
        color: white;
    }
}
