.status {
    &--active {
        background: $green;
        color: white;
    }

    &--pending {
        background: rgb(196, 196, 196);
    }

    &--archived {
        background: orange;
        color: white;
    }
}

.message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    padding: 20px;
    border-radius: 5px;

    p {
        margin: 0;
        color: $green;
    }

    &--success {
        background: transparentize($green, 0.8);
    }
}
