@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

a {
    text-decoration: none;

    &:active {
        color: $primary;
    }
}

.page-title-with-buttons {
    @include flex-row-space-between();
}

.heading {
    margin: 0;

    &--page {
        font-size: 64px;
    }

    &--section {
        font-size: 32px;
    }

    &--small {
        font-size: 16px;
        padding: 0 !important;
    }
}
